<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
<div>
     <form name="LoginForm" method="post" action="ACTIONLOGON.APPPROCESS?mode=" >
      <div style="width:500px;  font-size:14px; margin:60px auto; height:180px">
        <div  class="in">
         用户名
          <input type="text" name="WebUserNO" id="WebUserNO" style="width:150px" />

<input name="applicant" type="hidden" value="ACTIONQUERYBASESTUDENTINFO">

        </div>
        <div  class="in">密&nbsp;&nbsp;码
          <input type="password" name="Password" id="Password"  style="width:150px"/>
        </div>

        <div  class="in">附加码
      <input type="text" name="Agnomen" id="Agnomen" style="width:90px" />
         <img src="ACTIONVALIDATERANDOMPICTURE.APPPROCESS?id=80.01870385479974" width="55" height="20" alt="附加码说明" border="0" align="middle">
        </div>
        <div  class="in" >
          <input type="submit" name="submit7" id="submit7" value="登录"  onClick="javascript:return Judge();"  style="width:60px ; height:24px; margin-right:50px" />

          <input type="button" name="button" id="button" value="返回首页" style="width:60px ; height:24px" onClick="javascript:return Judge2();" />
        </div>
      </div>
    </form>

  </div>
</div>

</body>
</html>