<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登陆</title>
</head>

<body>
<h1>登陆页面：</h1>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
    <form action="/online/check/" method="post">
        {% csrf_token %}
        <img src="/online/verify/300/80/" /><br />
        <input type="text" name="verify" id="verify"/>
        <!--input type="submit"/-->
        <input type="submit" value = "登陆" />
    </form>
</form>
<br><br>
<a href="http://127.0.0.1:8000/online/regist/">注册</a>
</body>
</html>