ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.framework_nav li {
    line-height: 24px;
    padding: 0 auto;
    margin-left: -24px;
}

.framework_nav ul ul {
    padding: 0 auto;
    margin-left: -24px;
}

.framework_nav a {
    display: block; color: #000;
}

.framework_nav .folder {
    /*background:url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) 5px center no-repeat;*/
	/*background:  transparent url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) no-repeat bottom center;
	border: none;
	cursor: pointer;*/
}

.framework_nav .open {
    /*background:url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) 5px center no-repeat;*/
    /*background: transparent url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) no-repeat top center;
*/}

.framework_nav .all {
    background-color:#00A0E8;
}

.framework_nav .all a {
    color: #fff;
}

.framework_nav .cur {
    background-color:#00A0E8;
}

.framework_nav .cur a {
    color: #fff;
}

/*.manage-button {
    float:right;
    margin-right: 25px;
    margin-top: -45px;
}*/