





ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.framework_nav li {
    line-height: 24px;
    padding: 0 auto;
    margin-left: -24px;
}

.framework_nav ul ul {
    padding: 0 auto;
    margin-left: -24px;
}

.framework_nav a {
    display: block;
    color: #000;
}

.framework_nav button {
	display: inline;
	height: 11px;
	width: 11px;
	text-align: center;
	margin-right: 3px;
    margin-left: -1em;
    margin-top: 0.5em;
	/*background: transparent url('/static/img/arrows.png') no-repeat bottom center;*/
	border: none;
	float: left;
	cursor: pointer;
}

.framework_nav button.arrow-down {
    background: transparent url('/static/img/arrow-down.png') no-repeat bottom center
}

.framework_nav button.arrow-right {
    background: transparent url('/static/img/arrow-right.png') no-repeat bottom center;
}
/*.framework_nav button.switched {*/
	/*background: transparent url('/static/img/arrows.png') no-repeat top center;*/
/*}*/

.framework_nav .folder {
    /*background:url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) 5px center no-repeat;*/
    /*background:  transparent url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) no-repeat bottom center;
    border: none;
    cursor: pointer;*/
}

.framework_nav .open {
    /*background:url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) 5px center no-repeat;*/
    /*background: transparent url(http://www.umassd.edu/media/supportingfiles/layoutassets/images/arrows.png) no-repeat top center;*/
}

.framework_nav .all {
    background-color: #00A0E8;
}

.framework_nav .all a {
    color: #fff;
}

.framework_nav .cur {
    background-color: #00A0E8;
}

.framework_nav .cur a {
    color: #fff;
}

/*.manage-button {
    float:right;
    margin-right: 25px;
    margin-top: -45px;
}*/

#header {
    z-index: 20;
    height: 100px;
    background-color: #0000FF;
}

#navbar {
    background-color: #003764;
    padding: 0;
    height: 30px;
    clear: both;
    z-index: 10;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    margin-top: 0px;
}

#leftcol {
    float: left;
    border-right-width: 20px;
    margin-right: 10px;
    background-color: #e1e1e1;
}

#maincontent {
    background-color: white;
}
