<div id="footer" class="footer">

    <footer>
  <!-- 		页脚 -->
  <div id="footer_link">
    <a href="http://www.neu.edu.cn/constitution/" target="_blank">东北大学章程</a>
    <a class="line">|</a>
    <a href="http://president.neu.edu.cn" target="_blank">校长直通车</a>
    <a class="line">|</a>
    <a href="http://oa.neu.edu.cn" target="_blank">OA系统</a>
    <a class="line">|</a>
    <a href="http://info.neu.edu.cn" target="_blank">信息公开</a>
    <a class="line">|</a>
    <a href="http://zwgk.neu.edu.cn" target="_blank">政务公开</a>
    <a class="line">|</a>
    <a href="edu_manage.html">教务管理</a>
    <a class="line">|</a>
    <a href="http://www.graduate.neu.edu.cn/dongda/pyxt/index.jhtml" target="_blank">研究生管理</a>
    <a class="line">|</a>
    <a href="http://219.216.96.116/ddkygl/" target="_blank">科研管理</a>
    <a class="line">|</a>
    <a href="http://202.118.27.233/home/home.asp" target="_blank">人力资源管理</a>
    <a class="line">|</a>
    <a href="http://jcc.neu.edu.cn/" target="_blank">财务管理</a>
    <a class="line">|</a>
    <a href="http://zcc.neu.edu.cn" target="_blank">资产管理</a>
  </div>
  <hr />
  <div id="footer_text">
    <div id="footer_left">
      <p>校址：辽宁省沈阳市和平区文化路三巷11号 | 邮编：110819 | 辽ICP备05001360号</p>
      <p>Northeastern University 2015 | 设计制作：<a href="http://xcb.neu.edu.cn" target="_blank">党委宣传部</a>，技术运维：<a href="http://network.neu.edu.cn" target="_blank">网络中心</a> | <a href="http://www.neu.edu.cn/version2011/" target="_blank">旧版入口</a></p>
    </div>
    <div id="footer_right">
      <a class="weixin" href="./index_weixin.html" target="_blank">
        <span class="img"></span>
        <span class="text">东北大学官方微信
          <br/>neu-1923</span>
      </a>
      <a class="weibo" href="http://weibo.com/neu1923" target="_blank">
        <span class="img"></span>
        <span class="text">东北大学官方微博
          <br/>neu1923</span>
      </a>
    </div>
  </div>
</footer>
</div>