{% load static %}
<div class = index_head>
      <!--<ul class="slides" id="slider">-->
    {% include "layout/nav-menu.html" %}
    <div style="clear:both;"></div>

    <div style="display: block;">
      <img class="img-responsive" src="{% static "img/roll_1.jpg" %}" />
    </div>
          <!--
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_2.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_3.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_4.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_5.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_6.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_7.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_8.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_9.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_10.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_11.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_12.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_13.jpg" />
    </li>
    <li>
      <img src="http://www.neu.edu.cn/assets/images/roll_14.jpg" />
    </li>
    -->
</div>